		</div><!--/#content-->
		<footer id="colophon">
			<div class="footer-info">
				<p>Share FACTT with your business, colleagues and friends. Stealin's bad, m'kay?</p>
				<p>FACTT is a business philosophy, championed by the management team at <a href="http://woothemes.com/" title="WooThemes - Premium WordPress Products">WooThemes</a>.</p>
			</div><!--/.footer-info-->
			<div class="footer-credits">
				<h1 class="site-title">FACTT</h1>
			</div><!--/.footer-credits-->
		</footer><!--/#colophon-->
	</div><!--/#wrapper-->
</body>
</html>