			<section id="newsletter-signup" class="newsletter-signup">
		        <form action="http://factt.us7.list-manage.com/subscribe/post?u=b430f748e4b7ee611bb381f66&amp;id=c1c476cbac" method="post">
		          <header class="call-to-action">
		            <h1>Sign up for the FACTT newsletter</h1>
		            <p class="description">Get FACTT tips, tricks and ideas, right in your inbox.</p><!--/.description-->
		          </header><!--/.call-to-action-->
		          <fieldset>
		            <div class="signup-fields">
		              <input type="text" name="EMAIL" placeholder="Your Email Address..." class="input-text" />
		              <button class="button button-primary" type="submit" name="subscribe">Sign Up</button>
		            </div><!--/.signup-fields-->
		          </fieldset>
		        </form>
		    </section><!--/#newsletter-signup .newsletter-signup-->
		</div><!--/#content-->
		<footer id="colophon">
			<div class="footer-info">
				<p>Share FACTT with your business, colleagues and friends. Stealin's bad, m'kay?</p>
				<p>FACTT is a business philosophy, championed by the management team at <a href="http://woothemes.com/" title="WooThemes - Premium WordPress Products">WooThemes</a>.</p>
			</div><!--/.footer-info-->
			<div class="footer-credits">
				<h1 class="site-title">FACTT</h1>
			</div><!--/.footer-credits-->
		</footer><!--/#colophon-->
	</div><!--/#wrapper-->
</body>
</html>