<!DOCTYPE html>
<html>
<head>
<title>FACTT - Five Pillars for Sustainable Team Management</title>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
<link rel="shortcut-icon" href="{{ site.baseurl }}/assets/images/favicon.png" />
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/images/touch-icon-ipad.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/images/touch-icon-iphone-retina.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/images/touch-icon-ipad-retina.png" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div id="wrapper">
		<header id="masthead">
			<h1 class="site-title"><a href="http://factt.org/" title="FACTT">FACTT</a></h1>
			<h2 class="site-description">Five Pillars for Sustainable Team Management</h2>
			<a href="https://twitter.com/facttorg" class="twitter-follow-button" data-show-count="true" data-width="180px" data-lang="en">Follow @facttorg</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</header>
		<div id="content">